fastapi
uvicorn
PyMuPDF>=1.23.0
python-docx>=0.8.11
mammoth>=1.6.0
docx2txt>=0.8
pydantic
pydantic-settings
python-multipart
PyJWT
python-jose[cryptography]
supabase
resend
pinecone
python-dotenv
langgraph
langchain-core
langchain-groq
langchain
pyyaml
email-validator
